@page "/Food/Moderation"
@using System.Text.Json
@using Newtonsoft.Json
@inject NavigationManager navigationManager
@inject HttpClient Http
@attribute [Authorize(Roles = "Moderator")]

<PageTitle>Food</PageTitle>

@if (food == null)
{
    <p><em>Nothing Found</em></p>
}

<CascadingAuthenticationState>
    <AuthorizeView Context="FoodModerator" Roles="Moderator">
        <div class="container">

            <div class="row">
                @foreach (var pair in food)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <form id="@pair.Id">

                                <img src="@pair.ImageUrl" class="card-img-top" alt="FoodCover">

                                <div class="card-body">
                                    <a href="/Food/GetById/@pair.Id">@pair.Name</a>
                                </div>

                                <button type="button" class="btn btn-danger"
                                    @onclick='()=>DeleteFoodAsync(pair.Id)'>Delete</button>
                                <button type="button" class="btn btn-primary" @onclick='()=>UpdateStatusAsync(pair.Id)'> Approve
                                </button>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
    </AuthorizeView>
</CascadingAuthenticationState>


@code {
    private List<Food>? food;

    protected override async Task OnInitializedAsync()
    {
        var httpClient = new HttpClient();

        var response = await httpClient.GetAsync($"http://moderationapiapp:5050/api/Moderation/GetAllFood");
        var content = await response.Content.ReadAsStringAsync();

        if (!response.IsSuccessStatusCode)
        {
            throw new ApplicationException(content);
        }

        food = JsonConvert.DeserializeObject<List<Food>>(content);
    }

    private async Task DeleteFoodAsync(int Id)
    {
        var httpClient = new HttpClient();

        var loginResponse = await httpClient.DeleteAsync($"http://moderationapiapp:5050/api/Food/Delete/{Id}");

        if (loginResponse.IsSuccessStatusCode && loginResponse.StatusCode == System.Net.HttpStatusCode.OK)
        {
            navigationManager.NavigateTo("/Food/Moderation");
        }
    }

    private async Task UpdateStatusAsync(int Id)
    {
        var httpClient = new HttpClient();

        var loginResponse = await httpClient.PutAsJsonAsync<Food>($"http://moderationapiapp:5050/api/Moderation/ApproveFood/{Id}", null);

        if (loginResponse.IsSuccessStatusCode && loginResponse.StatusCode == System.Net.HttpStatusCode.OK)
        {
            navigationManager.NavigateTo("/Food/Moderation");
        }
    }
}