@inject IAuthorizationService AuthorizationService
@inject NavigationManager navigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">4FitBody WorkingStaff</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <CascadingAuthenticationState>
            <AuthorizeView Context="main">
                <NotAuthorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </div>
                </NotAuthorized>
                
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/Home" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView Context="nav" Roles="Admin,Trainer,Nutritionist,Moderator">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Food/">
                        <span class="oi oi-plus" aria-hidden="true"></span> Food
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Exercise/">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Exercises
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/News/">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> News
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Supplements/">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Sport Supplements
                    </NavLink>
                </div>
            </AuthorizeView>

            <AuthorizeView Context="moderation" Roles="Moderator">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Food/Moderation">
                        <span class="oi oi-plus" aria-hidden="true"></span> Food Moderation
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Exercise/Moderation">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Exercises Moderation
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/News/Moderation">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> News Moderation
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Supplements/Moderation">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Supplements Moderation
                    </NavLink>
                </div>
            </AuthorizeView>

            <AuthorizeView Context="moderation" Roles="Admin">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Registration">
                        <span class="oi oi-plus" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
            </AuthorizeView>
        </CascadingAuthenticationState>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
