@page "/Home/"
@inject NavigationManager navigationManager
@attribute [Authorize(Roles = "Admin, Nutritionist, Trainer,Moderator")]

<CascadingAuthenticationState>
    <AuthorizeView Context="home">
        <Authorized>
            <div class="container">
                Welcome
            </div>
        </Authorized>
    </AuthorizeView>
</CascadingAuthenticationState>

<style>
    h1 {
        color: #333;
        font-size: 48px;
        margin-bottom: 30px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 50px 20px;
        text-align: center;
    }
</style>
