@page "/News/GetById/{Id:int}"
@using System.Text.Json
@attribute [Authorize(Roles = "admin, nutritionist, trainer,moderator")]

<PageTitle>news</PageTitle>

<h1 style="text-align: center;">Get News</h1>



<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
</head>

@if (news == null)
{
    <p><em>Not Found</em></p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 1250px">
                    <div class="card-body description">
                        <img src="@news.ImageUrl" />
                        <div>@news.Description</div>
                        <div>@news.CreationDate</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    public News news = new News();

    [Parameter]
    public int Id { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        var httpClient = new HttpClient();

        var response = await httpClient.GetAsync($"api/News/Details/{Id}");
        var content = await response.Content.ReadAsStringAsync();

        if (!response.IsSuccessStatusCode)
        {
            throw new ApplicationException(content);
        }
#pragma warning disable CS8601
        news = JsonSerializer.Deserialize<News>(content);

    }
}