@page "/Supplements/"
@using System.Text.Json
@inject NavigationManager navigationManager
@inject HttpClient Http
@attribute [Authorize(Roles = "admin, nutritionist, trainer,moderator")]

<PageTitle>Supplements</PageTitle>

<h1 style="text-align: center;">ALL Supplements</h1>

@if (supplement == null)
{
    <p><em>Loading...</em></p>
}

else
{
    <div class="container">

        <div class="row">
            @foreach (var pair in supplement)
            {
                if (pair.IsApproved)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <form id="@pair.Id">

                                <img src="@pair.ImageUrl" class="card-img-top" alt="supplementCover">

                                <div class="card-body">
                                    <button type="button" class="button-link" onclick="">@pair.Name</button>
                                </div>

                                <button type="button" class="btn btn-danger" @onclick="DeletesupplementAsync">Delete</button>
                                <button type="button" class="btn btn-primary"
                                    @onclick='() => navigationManager.NavigateTo($"/Supplements/Update/{pair.Id}")'> Change
                                </button>
                            </form>
                        </div>
                    </div>
                }
            }
        </div>

        <NavLink class="nav-link" href="Supplement/Create">
            <span class="oi oi-plus" aria-hidden="true"></span> Add supplement
        </NavLink>
    </div>
}


@code {
    private List<SportSupplement>? supplement;

    protected override async Task OnInitializedAsync()
    {
        var httpClient = new HttpClient();

        var response = await httpClient.GetAsync("");
        var content = await response.Content.ReadAsStringAsync();

        if (!response.IsSuccessStatusCode)
        {
            throw new ApplicationException(content);
        }

        supplement = JsonSerializer.Deserialize<List<SportSupplement>>(content);
    }

    private async Task DeletesupplementAsync()
    {
        var httpClient = new HttpClient();

        var loginResponse = await httpClient.DeleteAsync("");

        if (loginResponse.IsSuccessStatusCode && loginResponse.StatusCode == System.Net.HttpStatusCode.OK)
        {
            navigationManager.NavigateTo("/Supplements/");
        }
    }
}