@page "/Supplements/Update/{Id:int}"
@using System.Text.Json
@inject NavigationManager navigationManager
@attribute [Authorize(Roles = "moderator")]

<PageTitle>Supplements</PageTitle>

<h1 style="text-align: center;">Update</h1>



<EditForm Model="supplement" OnValidSubmit="OnUpdateSubmitAsync">
        <div class="mb-3">
            <label  class="form-label">Title: </label>
            <InputText required name="text" @bind-Value=supplement.Name class="form-control"/>
        </div>

        <div class="mb-3">
            <label class="form-label">Description: </label>
            <InputTextArea required name="text" @bind-Value=supplement.Description class="form-control"/>
        </div>

        <button type="submit" class="btn submit-button">Update supplement</button>
</EditForm>


@code {
    public SportSupplement supplement = new SportSupplement();

    private async Task OnUpdateSubmitAsync(EditContext editContext)
    {
        var httpClient = new HttpClient();

        var loginResponse = await httpClient.PutAsJsonAsync("", supplement);

        if (loginResponse.IsSuccessStatusCode && loginResponse.StatusCode == System.Net.HttpStatusCode.OK)
        {
            navigationManager.NavigateTo("/Supplements/");
        }
    }
}