@page "/OTP"
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider authenticationStateProvider
@inject ILocalStorageService localStorageService
@attribute [Authorize(Roles = "Admin")]


<div>
    <p>Please enter six digit number</p>
    <EditForm OnValidSubmit="OnOTPFormSubmitAsync" Model="oTPCode">
        <InputText type="text" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" @bind-Value="oTPCode.Num1" />
        <InputText type="text" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" @bind-Value="oTPCode.Num2" />
        <InputText type="text" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" @bind-Value="oTPCode.Num3"/>
        <InputText type="text" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" @bind-Value="oTPCode.Num4"/>
        <InputText type="text" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" @bind-Value="oTPCode.Num5"/>
        <InputText type="text" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" @bind-Value="oTPCode.Num6"/>
        <button>Submit</button>
    </EditForm>
</div>


<style>
    input {
        width: 70px;
    }
</style>

@code {

    public class OTPCode
    {
        [Required]
        public string Num1 { get; set; }
        [Required]
        public string Num2 { get; set; }
        [Required]
        public string Num3 { get; set; }
        [Required]
        public string Num4 { get; set; }
        [Required]
        public string Num5 { get; set; }
        [Required]
        public string Num6 { get; set; }
    }

    OTPCode oTPCode = new OTPCode();

    private async Task OnOTPFormSubmitAsync(EditContext editContext)
    {
    }
}